html,
body{
    height: 100%;
    padding :0;
    margin: 0;
}
.header{
    position: relative;
    z-index: 500;
    border-bottom: 1px solid #ddd;
}


.footer{
    bottom: 0px;
    width:100%;
    padding: 15px;
    position: relative;
    text-align: center;
  }
#wrapper{
    display: flex;
    position: relative;
    min-height: 100%;
}
#content{
    margin-top: 100px;
    padding-bottom: 50px;
}


.content{
    margin-top :100px;
}



