<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:height="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/Buy.css}" rel="stylesheet">
    <title>상품구매페이지</title>

</head>
<body>


<div layout:fragment="content">
    <img class="background" th:src="@{/img/back.jpg}"/>
<h3>가운데로 옮기고 뭐 쓸지 고민중</h3>
    <section class="buy-full-box">

        <div class="container">
              <div class="title">
    <h1>SERVICE LIST</h1>
            <ul>
                <li><a href="">Soccer</a></li>
                <li><a href="">BasketBall</a></li>
                <li><a href="">BaseBall</a></li>
                <li><a href="">Badminton</a></li>
                <li><a href="">Swim</a></li>
                <li><a href="">Winter</a></li>
            </ul>
        </div>

            <span class="item-list" th:each="item, index : ${itemList}">
                        <div class="item">
                                <a th:href="${item.getId()}" >



                                        <img class="img" th:src="${item.getImgUrl()}" alt="" loading="lazy">

                                  <span class="text-name">

                                <strong>상품명   </strong>
                                      <span th:text="${item.getItemNm()}"></span><br><br>
                                <strong>판매가      </strong>
                                      <span th:text="${item.getPrice()}+원"></span>
                                  </span></a>
                                    <div class="text-price">

                                    </div>
                                <br>


                                   </div>

                </span>
        </div>
    </section>
</div>



</body>
</html>